/* max-width: 1200px */
@media (max-width: 75em) {
  .hero-container {
    max-width: 55rem;
  }

  .heading-primary {
    font-size: 5em;
  }

  .hero-description {
    font-size: 1.8rem;
  }
}

/* max-width: 840px */
@media (max-width: 52.5em) {
  #header {
    padding: 1rem 4rem;
  }

  #nav-bar {
    display: none;
  }

  .btn--mobile {
    display: block;
  }

  .hero-container {
    margin-right: 20%;
  }

  .heading-primary {
    font-size: 4.8rem;
  }
}

/* max-width: 712px */
@media (max-width: 44.5em) {
  #header-img {
    height: 80%;
  }

  .hero-container {
    max-width: 45rem;
    margin-right: 0;
    text-align: center;
  }

  .heading-primary {
    font-size: 4.2rem;
  }

  #form {
    justify-content: center;
  }

  #email {
    width: 80%;
  }

  #submit {
    width: 80%;
  }

  .feature > .heading-secondary {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
  }

  .feature-desc {
    font-size: 1.6rem;
  }

  .products-grid {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    justify-content: center;
  }

  .product-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .product-name,
  .price {
    font-size: 1.8rem;
  }
}

/* max-width: 580px */
@media (max-width: 36.25em) {
  section {
    padding: 6rem 2rem;
  }

  #header {
    padding: 2rem;
  }

  .heading-primary {
    font-size: 3.4rem;
  }

  .hero-description {
    font-size: 1.6rem;
  }

  #email {
    font-size: 1.6rem;
    padding: 1.4rem 2.4rem;
  }

  #submit {
    font-size: 1.6rem;
    padding: 1.1rem 4rem;
  }

  .features-grid {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .feature:not(.feature:last-of-type) {
    margin-bottom: 4rem;
  }

  .fa-seedling {
    grid-row: 1;
  }

  .fa-heart-pulse {
    grid-row: 3;
  }

  .fa-truck-fast {
    grid-row: 5;
  }

  .feature > .heading-secondary {
    font-size: 2rem;
  }

  .feature-desc {
    font-size: 1.4rem;
  }

  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .footer-links {
    font-size: 1.4rem;
  }
}
