:root {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  --main-blue: #5599ff;
  --secondary-blue: #bbd5ff;
  --charcoal: #333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: white;
  color: var(--charcoal);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* HEADER */
#header {
  padding: 1rem 8rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

#header-img {
  height: 100%;
  margin-bottom: 1rem;
}

#nav-bar {
  width: max(25vw, 35rem);
  font-size: 1.6rem;
}

.link-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
}

.nav-link:hover,
.nav-link:active {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

/* HERO SECTION */
.section-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(imgs/hero-img.jpg);
  color: white;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 8rem);
  min-height: 50rem;
  padding: 8rem;

  display: flex;
  justify-content: center;
}

.hero-container {
  max-width: 70rem;
  margin-right: 30%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.heading-primary {
  font-size: 6.2em;
  line-height: 1.15;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

label[for="email"] {
  display: none;
}

#email {
  background-color: white;
  color: black;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1.4rem 2rem;
  border-radius: 2rem;
  border: none;
  outline: none;
}

#submit {
  background-color: var(--main-blue);
  color: white;

  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 2rem;
  padding: 1.4rem 4rem;
  border: 3px solid white;

  display: block;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
}

/* FEATURES */
.section-features {
  padding: 9rem;
}

.features {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 4rem;
  row-gap: 6rem;
  justify-content: center;
}

.feature > .heading-secondary {
  font-size: 2.8rem;
  margin-bottom: 0.8rem;
}

.fa-seedling,
.fa-heart-pulse,
.fa-truck-fast {
  color: var(--main-blue);
  margin: 0 auto;
  font-size: 6rem;
}

.feature-desc {
  font-size: 1.8rem;
  max-width: 75ch;
}

.fa-seedling {
  grid-column: 1;
  grid-row: 1;
}

.fa-heart-pulse {
  grid-column: 1;
  grid-row: 2;
}

.fa-truck-fast {
  grid-column: 1;
  grid-row: 3;
}
