/* GENERAl */
:root {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  --main-blue: #5599ff;
  --secondary-blue: #bbd5ff;
  --charcoal: #333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: white;
  color: var(--charcoal);
  min-width: 27rem;
}

section {
  margin-bottom: 9rem;
  padding: 0 4rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.btn {
  background-color: var(--main-blue);
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 15rem;

  display: block;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
}

.link {
  color: inherit;
  font-weight: 500;
  letter-spacing: 1px;
}

.link:link,
.link:visited {
  text-decoration: none;
}

.link:hover,
.link:active {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

/* HEADER */
#header {
  height: 8rem;
  width: 100%;
  background-color: white;
  padding: 1rem 8rem;
  border-bottom: 1px solid #ddd;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: fixed;
  z-index: 999;
}

#header-img {
  height: 100%;
}

#nav-bar {
  width: max(25vw, 35rem);
  font-size: 1.8rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn--mobile {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3rem;
  color: var(--main-blue);
  display: none;
}

.btn--mobile > .fa-bars {
  display: flex;
  align-items: center;
}

/* HERO SECTION */
.section-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(imgs/hero-img.jpg);
  color: white;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 8rem;

  display: flex;
  justify-content: center;
}

.hero-container {
  min-width: 20rem;
  max-width: 70rem;
  margin-right: 30%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.heading-primary {
  font-size: 6.2em;
  line-height: 1.15;
  max-width: 20ch;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

label[for="email"] {
  display: none;
}

#email {
  min-width: 25rem;
  background-color: white;
  color: black;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1.7rem 2.4rem;
  border-radius: 15rem;
  border: none;
  outline: none;
}

#email::placeholder {
  opacity: 0.5;
}

#submit {
  min-width: 25rem;
  border: 3px solid white;
  padding: 1.4rem 4rem;
}

/* FEATURES SECTION */

.features-grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 4rem;
  row-gap: 6rem;
  justify-content: center;
}

.feature > .heading-secondary {
  font-size: 2.8rem;
  margin-bottom: 0.8rem;
}

.fa-seedling,
.fa-heart-pulse,
.fa-truck-fast {
  color: var(--main-blue);
  margin: 0 auto;
  font-size: 6rem;
}

.feature-desc {
  font-size: 1.8rem;
  line-height: 1.5;
  max-width: 75ch;
}

.fa-seedling {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.fa-heart-pulse {
  width: 100%;
  grid-column: 1;
  grid-row: 2;
}

.fa-truck-fast {
  width: 100%;
  grid-column: 1;
  grid-row: 3;
}

/* HOW IT WORKS SECTION */
.section-how {
  padding: 0;
}

.section-how > .container {
  display: flex;
  justify-content: center;
}

#video {
  max-width: 100%;
  width: 640px;
  height: 360px;
}

/* PRICING SECTION */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.image-container {
  overflow: hidden;
  height: 100%;
}

.product {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.product-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all 1s;
  opacity: 0.85;

  cursor: pointer;
}

.product-image:hover {
  transform: scale(120%);
  opacity: 1;
}

.product-name {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.price {
  font-size: 2rem;
}

/* FOOTER */
.footer {
  margin-bottom: 0;
  padding: 2rem 4rem;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.footer-links {
  font-size: 1.6rem;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.copyright {
  font-size: 1.5rem;
}
